body {
  background-image: url(pain-naruto-indigo-3840x2160-10830.png);
  background-repeat: no-repeat;
  background-size: 1620px 1000px;
  margin: 0;
  padding: 0;
}

:root {
  --color: rgb(224, 13, 62);
}

.navbar {
  font-size: 35px;
  color: azure;
  width: 1535px;
  height: 78px;
  margin-top: 5px;
  margin-bottom: 0%;
  border-bottom: 2px solid black;
}

.navbar #bookmark {
  margin-left: 2vh;
  margin-right: 66vw;
  font-size: larger;
}

.navbox {
  padding-top: 15px;
  display: inline-block;
}

.navbox #bible {
  margin-right: 25px;
}

.navbox #fonts {
  margin-right: 25px;
}

.navbox #icons {
  margin-right: 25px;
}

.navbox span img {
  height: 35px;
}

.navbox img:hover {
  background-color: var(--color);
  border: 55px solid none;
  border-radius: 9px;
  box-shadow: 2px 2px 5px var(--color) inset;
}

* h3 {
  color: gold;
}

* h2 {
  color: red;
}

ul li {
  list-style: none;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

.info {
  margin-top: 95px;
  margin-bottom: 0;
  padding: 15px;
  margin-left: 180px;
  position:sticky;
  display: inline-block;
  text-decoration: none;
  border-radius: 17px;
  background-color:#9973ad69;
}

.info h2{
  padding-top: 0;
  margin-top: 0;
  text-align: center;
}

.fun {
  margin-top: 96px;
  margin-bottom: 0;
  padding: 15px;
  margin-right: 103px;
  position:sticky;
  display: inline-block;
  text-decoration: none;
  background-color: #9973ad69;
  border-radius: 17px; 
  float: right;

}

div *{
  padding-top: 0;
  margin-top: 0;
}

.fun h2{
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  
}
